<h2 class="list-title">Files</h2>

<button type="button" class="btn btn-default btn-danger btn-sm pull-left">
    <span class="glyphicon glyphicon-trash"></span> Delete selected
</button>

<div class="btn-toolbar pull-right">
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            50 per page
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">50</a></li>
            <li><a href="#">100</a></li>
            <li><a href="#">200</a></li>
        </ul>
    </div>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-default btn-success pull-right">
            <span class="glyphicon glyphicon-plus"></span> Add new
        </button>
    </div>
</div>


<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th><input type="checkbox"/></th>
            <th>ID</th>
            <th>Prop</th>
            <th>Prop</th>
            <th>Prop</th>
            <th>Prop</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><input type="checkbox"/></th>
            <td><a href="">Value 1</a></td>
            <td>Value 1</td>
            <td>Value 1</td>
            <td>Value 1</td>
            <td>Value 1</td>
        </tr>
        <tr>
            <th><input type="checkbox"/></th>
            <td><a href="">Value 1</a></td>
            <td>Value 1</td>
            <td>Value 1</td>
            <td>Value 1</td>
            <td>Value 1</td>
        </tr>
        <tr>
            <th><input type="checkbox"/></th>
            <td><a href="">Value 1</a></td>
            <td>Value 1</td>
            <td>Value 1</td>
            <td>Value 1</td>
            <td>Value 1</td>
        </tr>
    </tbody>
</table>

<ul class="pagination">
    <li><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
</ul>
